---
import PageLayout from '~/layouts/PageLayout.astro';
import NowMedia from '~/components/NowMedia.astro';
import { SITE_METADATA } from 'src/consts';
import { fetchMovies, transformMoviesToNow } from 'src/fetching/movies';
import { fetchMusic, transformMusicToNow } from 'src/fetching/music';
import { fetchShows, transformShowsToNow } from 'src/fetching/tv';
import { fetchPodcasts } from 'src/fetching/podcasts';
import type { NowMediaItem } from 'src/types';

const slug = 'now';

let transformedMovies: NowMediaItem[] = [];
let transformedShows: NowMediaItem[] = [];
let transformedMusicArtists: NowMediaItem[] = [];
let transformedMusicAlbums: NowMediaItem[] = [];
let podcasts: NowMediaItem[] = [];

try {
  const movies = await fetchMovies(5);
  transformedMovies = transformMoviesToNow(movies);
} catch (err) {
  console.error(err);
}
try {
  const shows = await fetchShows();
  transformedShows = transformShowsToNow(shows);
} catch (err) {
  console.error(err);
}

try {
  const music = await fetchMusic();
  transformedMusicArtists = await transformMusicToNow(music.topArtists, 'artist');
  transformedMusicAlbums = await transformMusicToNow(music.topAlbums, 'album');
} catch (err) {
  console.error(err);
}

try {
  podcasts = await fetchPodcasts(5);
} catch (err) {
  console.error(err);
}
---

<PageLayout
  title={SITE_METADATA[slug].title}
  subtitle={SITE_METADATA[slug].subtitle}
  slug={slug}
>
  <div class="flow">
    <p>
      This is a <a href="https://nownownow.com/about">now</a> page, and if you have
      your own site, you should make one, too.
    </p>
    <h2>Watching</h2>
    <NowMedia title="Movies" items={transformedMovies} />
    <NowMedia title="TV Shows" items={transformedShows} />
    <h2>Listening</h2>
    <NowMedia title="Top albums" items={transformedMusicAlbums} showInfo square />
    <NowMedia title="Top artists" items={transformedMusicArtists} showInfo square />
    <NowMedia title="Podcasts" items={podcasts} square />
  </div>
</PageLayout>
