---
import PageLayout from '~/layouts/PageLayout.astro';
import NowMedia from '~/components/NowMedia.astro';
import { SITE_METADATA } from 'src/consts';
import { fetchMovies, transformMoviesToNow } from 'src/fetching/movies';
import { fetchMusic, transformMusicToNow } from 'src/fetching/music';
import { fetchShows, transformShowsToNow } from 'src/fetching/tv';
const slug = 'now';

const movies = await fetchMovies(5);
const music = await fetchMusic();
const shows = await fetchShows();

const transformedShows = transformShowsToNow(shows);
const transformedMovies = transformMoviesToNow(movies);
const transformedMusicArtists = await transformMusicToNow(music.topArtists, 'artist');
const transformedMusicAlbums = await transformMusicToNow(music.topAlbums, 'album');
---

<PageLayout
  title={SITE_METADATA[slug].title}
  subtitle={SITE_METADATA[slug].subtitle}
  slug={slug}
>
  <div class="flow">
    <p>
      This is a <a href="https://nownownow.com/about">now</a> page, and if you have
      your own site, you should make one, too.
    </p>
    <h2>Watching</h2>
    <NowMedia title="Movies" items={transformedMovies} />
    <NowMedia title="TV Shows" items={transformedShows} />
    <h2>Listening</h2>
    <NowMedia title="Top albums" items={transformedMusicAlbums} showInfo />
    <NowMedia title="Top artists" items={transformedMusicArtists} showInfo s/>
  </div>
</PageLayout>
