---
import PageLayout from '~/layouts/PageLayout.astro';
import NowMedia from '~/components/NowMedia.astro';
import { SITE_METADATA } from 'src/consts';
import { fetchMovies, transformMoviesToNow } from 'src/fetching/movies';
import { fetchMusic, transformMusicToNow } from 'src/fetching/music';
import { fetchMedia, transformMediaToNow } from 'src/fetching/media';
import type { NowMediaItem } from 'src/types';

const slug = 'now';

let transformedMovies: NowMediaItem[] = [];
let tv: NowMediaItem[] = [];
let transformedMusicArtists: NowMediaItem[] = [];
let transformedMusicAlbums: NowMediaItem[] = [];
let podcasts: NowMediaItem[] = [];
let books: NowMediaItem[] = [];

try {
  const media = await fetchMedia();
  books = transformMediaToNow(media.book);
  tv = transformMediaToNow(media.tv);
  podcasts = transformMediaToNow(media.podcast);
} catch (err) {
  console.error(err);
}
try {
  const movies = await fetchMovies(5);
  transformedMovies = transformMoviesToNow(movies);
} catch (err) {
  console.error(err);
}

try {
  const music = await fetchMusic();
  transformedMusicArtists = await transformMusicToNow(music.topArtists, 'artist');
  transformedMusicAlbums = await transformMusicToNow(music.topAlbums, 'album');
} catch (err) {
  console.error(err);
}
---

<PageLayout
  title={SITE_METADATA[slug].title}
  subtitle={SITE_METADATA[slug].subtitle}
  slug={slug}
>
  <div class="flow">
    <p>
      This is a <a href="https://nownownow.com/about">now</a> page, and if you have
      your own site, you should make one, too.
    </p>
    <h2>Watching</h2>
    {transformedMovies?.length ? (<NowMedia title="Movies" items={transformedMovies} />) : null}
    {tv?.length ? (<NowMedia title="TV Shows" items={tv} />) : null}
    <h2>Listening</h2>
    {transformedMusicAlbums?.length ? (<NowMedia title="Top albums" items={transformedMusicAlbums} square />) : null}
    {transformedMusicArtists?.length ? (<NowMedia title="Top artists" items={transformedMusicArtists} square />) : null}
    {podcasts?.length ? (<NowMedia title="Podcasts" items={podcasts} square />) : null}
    <h2>Reading</h2>
    {books?.length ? (<NowMedia title="Books" items={books} />) : null}
  </div>
</PageLayout>
