---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/index.css'

interface Props {
  title: string
  description?: string
  image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, image = '/opengraph.jpg' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="author" href="Zander Martineau" />
<meta name="geo.region" content="GB" />
<meta name="geo.placename" content="London" />

<link rel="me" href="https://github.com/mrmartineau" type="text/html" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<link
  rel="preload"
  href="/fonts/Mona-Sans.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/Hubot-Sans.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/duotone/style.css"
/>

<link
  rel="alternate"
  href="https://zander.wtf/blog.rss.xml"
  type="application/rss+xml"
  title="Zander's Blog RSS Feed"
/>
<link
  rel="alternate"
  href="https://zander.wtf/links.rss.xml"
  type="application/rss+xml"
  title="Zander's Link RSS Feed"
/>
