---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/index.css';

interface Props {
  title: string;
  description?: string;
  image?: string;
  slug?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/opengraph.jpg', slug } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="author" href="Zander Martineau" />
<meta name="geo.region" content="GB" />
<meta name="geo.placename" content="London" />

<link rel="me" href="https://github.com/mrmartineau" type="text/html" />

<!-- Open Graph -->
<meta name="og:type" content="website" />
<meta name="og:url" content={Astro.url} />
<meta
  name="og:image"
  content={slug
    ? new URL(`/opengraph/${slug}/og.png`, Astro.url)
    : new URL(image, Astro.url)}
/>

<link
  rel="preload"
  href="/fonts/Mona-Sans.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link rel="preconnect" href="https://icons.duckduckgo.com" />
<link rel="dns-prefetch" href="https://icons.duckduckgo.com" />

<link
  rel="alternate"
  href="https://zander.wtf/blog.rss.xml"
  type="application/rss+xml"
  title="Zander's Blog RSS Feed"
/>
<link
  rel="alternate"
  href="https://zander.wtf/links.rss.xml"
  type="application/rss+xml"
  title="Zander's Link RSS Feed"
/>
<link
  rel="alternate"
  href="https://zander.wtf/worklog.rss.xml"
  type="application/rss+xml"
  title="Zander's Worklog RSS Feed"
/>
<link rel="manifest" href="/app.webmanifest" />
<link
  rel="apple-touch-icon-precomposed"
  sizes="500x500"
  href="/images/favicon/icon@1x.png"
/>
<meta name="theme-color" content="#21262c" />
