---
import { SITE_FOOTER_ITEMS } from '../consts'
import BigName from './BigName.astro'

const today = new Date()
---

<footer>
  &copy; {today.getFullYear()} Zander Martineau • <a
    href={`https://github.com/mrmartineau/zander.wtf/commit/${__COMMIT_HASH__}`}
    class="commit-hash">#{__COMMIT_HASH__}</a
  >
  <nav>
    {
      SITE_FOOTER_ITEMS.map((item) => {
        return (
          <a href={item.url} rel={item.rel}>
            {item.icon ? (
              <>
                <i class={`ph-duotone ${item.icon}`} />{' '}
              </>
            ) : null}
            {item.text}
            {item.external ? <i class="ph-duotone ph-arrow-up-right" /> : null}
          </a>
        )
      })
    }
  </nav>

  <p>🚧 This site is under construction. 🚧</p>
</footer>

<BigName orientation="top" class="mt-l" />

<style lang="postcss">
  footer {
    padding: var(--space-l) var(--space-xs) 0;
    text-align: center;
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--space-xs);
    justify-content: center;

    a {
      flex-shrink: 0;
    }
  }

  div {
    font-weight: bold;
  }

  .commit-hash {
    font-family: var(--font-mono);
  }
</style>
