---
import { fullPath } from 'src/utils/fullPath';
import type { Bookmark } from '../fetching/links';
import Favicon from './Favicon.astro';
import LinkType from './LinkType.astro';
import ShortUrl from './ShortUrl.astro';

type Props = Bookmark & {
  isFeed?: boolean;
};

const { url, type, tags, title, description, isFeed = false, image } = Astro.props;
const imagePath = fullPath(url, image)
---

<div class:list={['zm-links-item', { 'zm-links-item--feed': isFeed }]}>
  {isFeed && image ? <div class="zm-links-item-image">
    <img src={imagePath} alt={title} />
  </div> : null}
  <a class="zm-links-item-link" href={url}>
    {title}
  </a>
  {
    isFeed && description ? (
      <div class="zm-links-item-description line-clamp-3">{description}</div>
    ) : null
  }
  <div class="zm-links-item-meta">
    {
      url ? (
        <>
          <Favicon url={url} />
          <ShortUrl url={url} />
        </>
      ) : null
    }
    {type ? <LinkType type={type} /> : null}
    {
      tags?.length
        ? tags.map((tag) => {
            if (
              !['IFTTT', 'TwitterLike', 'instapaper', 'public'].includes(tag)
            ) {
              return <div class="zm-links-item-tag">#{tag}</div>;
            }
          })
        : null
    }
  </div>
</div>

<style>
  .zm-links-item--feed {
    --block-radius: 2rem;
    --block-padding: var(--space-m-l);
    border-radius: var(--block-radius);
    background-color: var(--bg-block);
    padding: var(--block-padding);
  }

  .zm-links-item-image {
    margin-left: calc(var(--block-padding) * - 1rem);
    margin-block-end: var(--space-2xs);
    aspect-ratio: 16 / 8;
    overflow: hidden;
    border-radius: calc(var(--block-radius) - 1rem);
    background-color: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .zm-links-item-link {
    line-height: 1.2;
  }

  .zm-links-item-description {
    margin-block-start: var(--space-2xs);
    font-size: var(--step--1);
  }

  .zm-links-item-meta {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-2xs);
    align-items: center;
    opacity: 0.7;
    font-size: var(--step--1);
  }
</style>
