---
import type { NowMediaItem } from 'src/types';

interface Props {
  title: string;
  description?: string;
  items: Array<NowMediaItem>;
  showInfo?: boolean;
  square?: boolean;
}

const { title, items, showInfo, square } = Astro.props;
---

<div class="my-l">
  <h3>{title}</h3>
  <div class="overflow-x-auto">
    <div class="nowItems mt-s">
      {
        items?.map((item) => (
          <div class="nowItem">
            <a href={item.link} class:list={[
              'image',
              { square },
            ]}>
              <img src={item.image} alt={item.title} />
              {item?.rating ? (
                <div class="rating">
                  {item.rating}
                </div>
              ) : null}
            </a>
            {showInfo ? (
              <a href={item.link} class="meta">
                {item.title}
                {item?.description ? <>{' – '} {item.description}</> : null}
              </a>
            ) : null}
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .nowItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-s);
    min-width: 800px;
  }

  .nowItem {
    line-height: 1.5;
  }

  a.image {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;

    &.square {
      aspect-ratio: 1/1;
    }
  }

  .meta {
    display: block;
    font-size: var(--step--3);
    margin-block-start: var(--space-2xs);

    @media screen and (min-width: 600px) {
      font-size: var(--step--1);
    }
  }


  img {
    width: 100%;
  }

  .rating {
    position: absolute;
    right: var(--space-3xs);
    bottom: var(--space-3xs);
    left: var(--space-3xs);
    text-align: center;
    text-shadow: 0 0 4px #000;
    font-size: var(--step--3);

    @media screen and (min-width: 600px) {
      font-size: var(--step--1);
    }
  }
</style>