---
import type { NowMediaItem } from 'src/types';


interface Props {
  title: string;
  description?: string;
  items: Array<NowMediaItem>;
  showInfo?: boolean
}

const { title, items, showInfo } = Astro.props;
---

<div class="my-l">
  <h3>{title}</h3>
  <div class="nowItems mt-s">
    {
      items?.map((item) => (
        <div>
          <a href={item.link}>
            <img src={item.image} alt={item.title} />
            {item?.rating ? (
              <div class="rating">
                {item.rating}
              </div>
            ) : null}
          </a>
          {showInfo ? (
            <a href={item.link} class="meta">
              {item.title}
              {item?.description ? <>{' – '} {item.description}</> : null}
            </a>
          ) : null}
        </div>
      ))
    }
  </div>
</div>

<style>
  .nowItems {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-s);
  }

  a.image {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .meta {
    font-size: var(--step--3);
    line-height: 1.1;

    @media screen and (min-width: 600px) {
      font-size: var(--step--1);
    }
  }


  img {
    border-radius: 0.5rem;
    width: 100%;
  }

  .rating {
    position: absolute;
    right: var(--space-3xs);
    bottom: var(--space-3xs);
    left: var(--space-3xs);
    text-align: center;
    text-shadow: 0 0 4px #000;
    font-size: var(--step--3);

    @media screen and (min-width: 600px) {
      font-size: var(--step--1);
    }
  }
</style>