---
import BaseLayout from './BaseLayout.astro';
import PageHeader from '../components/PageHeader.astro';

const { title, subtitle, slug } = Astro.props;
---

<BaseLayout title={title} subtitle={subtitle} slug={slug}>
  <div class="zm-contentContainer">
    <PageHeader title={title} subtitle={subtitle} />

    <slot />
  </div>
</BaseLayout>
