---
import BaseLayout from './BaseLayout.astro';
import PageHeader from '~/components/PageHeader.astro';

type Props = {
  title: string;
  subtitle?: string;
  image?: string;
  slug?: string;
};
const { title, subtitle, image, slug } = Astro.props;
---

<BaseLayout title={title} subtitle={subtitle} image={image} slug={slug}>
  <section class="zm-mainContainer">
    <PageHeader title={title} subtitle={subtitle} isSection={true} />
    <slot />
  </section>
</BaseLayout>
